In [7]:
lista_alumnos = ['Miguel', 'Andrea', 'Fernanda', 'Juan', 'Ximena', 'Pedrito']
"""
1 Miguel
2 Andrea
3 Fernanda...
"""

for i in range(len(lista_alumnos)):
    print(f'{i+1} {lista_alumnos[i]}')

1 Miguel
2 Andrea
3 Fernanda
4 Juan
5 Ximena
6 Pedrito

In [5]:
for i in range(1, 6):
    print(f'{i} {lista_alumnos[i-1]}')

1 Miguel
2 Andrea
3 Fernanda
4 Juan
5 Ximena

In [8]:
a = 1
b = 2
c = 3
print('A vale:', a, 'B vale:', b, 'C vale:', c)

A vale: 1 B vale: 2 C vale: 3

In [9]:
print('A vale: {}, B vale: {}, C vale {}'.format(a, b, c))

A vale: 1, B vale: 2, C vale 3

In [10]:
print(f'A vale: {a}, B vale: {b}, C vale {c}')

A vale: 1, B vale: 2, C vale 3

In [18]:
for i, j in enumerate(lista_alumnos, 1):
    # print(f'{contador}: {valor}')
    print(f'{i}: {j}')

1: Miguel
2: Andrea
3: Fernanda
4: Juan
5: Ximena
6: Pedrito

---
funciones built-in (ya integrado)

In [19]:
numeros = [1, 2, 3]

res = 0

for i in numeros:
    res += i

res

6

In [20]:
sum(numeros)

6

In [21]:
booleanos = [True, True, False]
# Devuelve True solo si todos son True
res = False
if booleanos[0] == True and booleanos[1] == True and booleanos[2] == True:
    res = True
else:
    pass

print(res)

False

In [ ]:
booleanos = [True, True, False]
# Devuelve True solo si TODOS son True
res = False
if booleanos[0] and booleanos[1] and booleanos[2]:
    res = True
# else:
#     pass

print(res)

False

In [25]:
all([1,1,1,1,1,1])

True

In [26]:
all(booleanos)

False

In [ ]:
# Devuelve True si CUALQUIERA de ellos es True
res = False
if booleanos[0] or booleanos[1] or booleanos[2]:
    res = True

res

True

In [30]:
any(booleanos)

True

---

In [32]:
numero = 1
type(numero)

int

In [35]:
numero = True
if type(numero) == int:
    print('es un entero')
else:
    print('no es un entero')

no es un entero

In [ ]:
numero = []
# Muy resumido: isinstance pregunta si un valor pertenece a un tipo de dato
isinstance(numero, list)

True

---
Nota: TODO lo que el usuario ingrese mediante input se guarda como string

In [46]:
nombre = input('Por favor, ingresa tu nombre:')
dia_nacimiento = input('Por favor, ingresa tu día de nacimiento')
mes_nacimiento = input('Por favor, ingresa tu mes de nacimiento')
print(f'Hola {nombre}! Tu día y mes de nacimiento son: {dia_nacimiento}/{mes_nacimiento}')

Hola Juan! Tu día y mes de nacimiento son: 10/febrero

In [47]:
type(dia_nacimiento)

str

In [50]:
# Pedir a usuario que meta 3 número y los reste A-B-C
a = int(input())
b = int(input())
c = int(input())
res = a - b - c
print(res)

8

In [51]:
numeros = [12, 1, 412, 12, 2314, 1]
min(numeros)

1

In [52]:
max(numeros)

2314

In [53]:
int(3.9999999)

3

In [54]:
round(3.9999)

4

In [55]:
round(3.49)

3

In [56]:
abs(-3.14)

3.14